@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

@media (max-width:1000px) {
  .box{
    width: 40%;
    display: inline-block;
  }
  .header{
    flex-wrap: wrap;
  }
  .content{
    flex-wrap: wrap;
  }
  .title{
    font-size: 15px;
  }
  .boxContent{
    font-size: 10px;
  }
}
.content{
  max-width: 2000px;
  min-width: 500px;
  margin-left: auto;
  margin-right:auto;
  display: flex;
  justify-content: center;

}
.box{
  width: 280px;
  height: 280px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  vertical-align: top;
  text-align: center;
  flex: auto;
}
.Pic{
  width: 90%;
  height: 90%;
  object-fit:cover;
  object-position: top;
}


.title{
  font-weight: bold;
  background-color: #24252A;
  color: white;
  font-size: 20px;
}
.boxContent{
  background-color: white;
  color: #24252A;
  word-break: break-all;
  text-align: left;
  font-size: 15px;
}
*{
  max-width: 2000px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
  background-position: 1000px 100px;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  margin: 30px;
}

.logo{
  cursor: pointer;
}

.nav___links {
  list-style: none;
}

.nav___links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav___links li a {
  transition: all 0.3 ease 0s;
}

.nav___links li a:hover {
  color: #0088a9
}


button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 50px;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.75);
}
