@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

.content{
  width:980px;
  height: 300px;
  margin-left: 15%;
  margin-right: 15%;
  /* background-color: white; */
}
.box{
  width: 280px;
  height: 150px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.title{
  font-weight: bold;
  background-color: #24252A;
  color: white;
  font-size: 20px;
}
.boxContent{
  background-color: white;
  color: #24252A;
  word-break: break-all;
  text-align: left;
  font-size: 15px;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
  background-position: 1000px 100px;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  width: 1000px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

.logo{
  cursor: pointer;
}

.nav___links {
  list-style: none;
}

.nav___links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav___links li a {
  transition: all 0.3 ease 0s;
}

.nav___links li a:hover {
  color: #0088a9
}


button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 50px;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.75);
}
